.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}
.linkContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}