.container{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 200px;
}
.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px 20px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-width: 80%;
}
.twoColumns{
    flex-direction: row;
    flex-wrap: wrap;

}
.number{
    color: #00CCCC
}
