.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 60px 0;
    max-height: calc(100vh - 288px - 56px);
}
.scroll{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 80%;
    width: 100%;
    padding-right: 5px;
    overflow-y: scroll;

}
.elementIcon{
    display: flex;
}