.container{
    max-width: 640px;
    display: flex;
    flex-direction: column;

}
.order{
    align-self: center;
    padding-bottom: 20px;
}
.orderModal{
    align-self: flex-start;
    padding-bottom: 20px;
}
.blue{
    color: #0CC
}
.components{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 70px 0 48px 0
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 320px;
    overflow-y: scroll;
}
.info{
    display: flex;
    justify-content: space-between;
}