.container{
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    position: relative;
    align-self: flex-start;
}
.info{
    display: flex;
    gap: 20px
}
